
Archivator_desktop_WPF_WTS/bin/

Archivator_desktop_WPF_WTS.Packaging/bin/

.vs/

SetupProject/Debug/

SetupProject/Release/

Archivator_desktop_WPF_WTS.Core/bin/

Archivator_desktop_WPF_WTS.Core/obj/

Archivator_desktop_WPF_WTS/obj/

Archivator_desktop_WPF_WTS/Documentation/

Archivator_Packager/bin/

Archivator_Packager/obj/

NSIS-Installer/Output/
